<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            background-color: white;
            display: inline;
        }
        body
        {
            background-color: lightyellow;
        }
    </style>
</head>
<body>
    <h1><b>RAM :</b> Hello Sir!!! How are you? Am I speaking to Mr Ravi...</h1><br>
    <h1><b>RAVI :</b> <a href="{% url 'receiver:reply'%}">...</a></h1>
</body>
</html>